<div id="page">

    <% IF flash.info %>
        <span id="flash"><% flash.info %></span>
    <% END %>

    <% IF flash.error %>
        <span id="error"><% flash.error %></span>
    <% END %>

    <% IF NOT auth %>
        <form action="/login" method="post">
            <label for="user">Username: </label>
            <input type="text" name="user" />
            <label for="pass">Password: </label>
            <input type="password" name="pass" />
            <input type="submit" value="Submit" />
        </form>
    <% END %>

    <h1>Sign up for CSH Notifications on LMFAOBox!</h1>
    <form action="/members/add" method="post">
        <label for="name" />Name: </label>
        <input name="name" type="text" />
        <label for="address" />Address: </label>
        <input name="address" type="text" />
        <select name="carrier">
            <option>Email address</option>
            <% FOREACH carrier = carriers %>
            <option><% carrier.name | html %></option>
            <% END %>
        </select>
        <input type="submit" value="submit" />
    </form>
</div>
